.left-wrapper{
    margin: 20px;
    width: 70%;
    /* height: 600px; */
    background-color: 'lightblue';
}

.left-data{
    display: flex;
}

.left-image{
    width: 400px;
    height: 400px;
    background-color: 'lightblue';
}

.left-info{
    padding: 4px;
}